.body {
  font-family: 'Raleway', sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

html{
  scroll-behavior: smooth;
}

/*header*/
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: .3s;
  color: #ffffff;
}

.header{
  background-color: #1c2724;
}
/*header end*/

/*profile*/
.main-profile{
  background-color: #344741;
}

.profile{
  margin: 50px;
}


.section-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 40px 40 px;
}
/*end profile*/

/*two column*/
.container-for-two-column{
  display: flex;
  padding: 20px 50px;
  color: #1c2724;
}

.section-title{
  color: #1c2724;
  font-size: 24px;

}

.left{
  width: 50%;
}
/*two column*/

.list-contact{
  list-style: none;
}




.contact-img{
background-position: center left;
background-repeat: no-repeat;
background-size: cover;
width: 20px;
height: 20px;
margin-right: 10px;
}

.phone-img{
  background-image: url('assets/img/phone.png');
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

.footer{
  background-color: #1c2724
}
